@font-face {
    font-family: "thunder";
    src: url("./asset/fonts/THUNDER/Fonts/Web-TT/Thunder-BoldLC.woff") format("woff"),
    url("./asset/fonts/THUNDER/Fonts/Web-TT/Thunder-BlackLC.ttf") format("opentype");

    }
    /* @font-face {
        font-family: "CustomFont";
        src: url("https://yoursite.com/css/fonts/CustomFont.eot");
        src: url("https://yoursite.com/css/fonts/CustomFont.woff") format("woff"),
        url("https://yoursite.com/css/fonts/CustomFont.otf") format("opentype"),
        url("https://yoursite.com/css/fonts/CustomFont.svg#filename") format("svg");
        } */






body{
    margin: 0;
    overflow-x: none;
}
header{
    position: absolute;
    background: #FFAF96;
    height: 618px;
    width: 100%;
    
}

header  ul{
    display: none
}



h1{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    font-family: "thunder";
    font-style: normal;
    font-size: 72px;
    font-weight: 700;
    line-height: 66px;
    color: #AF0032;
    margin-left: 110px;
}

h1 span{
    margin-left: -80px;
}
.bigLove{
color: #FF0000;
}

button{
    background:  #FF0000;
    color: #FFF;
    border-radius: 20px;
    width: 160px;
    height: 41px;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
}

header button:hover{
    cursor: pointer;
}


.logo{
    width: 75px;
    height: 75px;
    margin: 5px;
    border: 1px solid black;
    background: black;
    color: white;
   
    
}

.header--top{
    display: flex;
    width: 100%;
    height: 85px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid blue;
    
}

  

.header--top nav{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    width: 140px;
    margin: 5px;
    border: 1px solid black;
}

nav p{
    font-family: "thunder";
    color: #AF0032;
    font-size: 32px;
    

}

.header--top i{
    color: #fff;
    margin-right: 1px;
   
}

.header--top--backgroundList{
    
    margin: 5px;
    display: flex;
    align-self: flex-start;
    background: #AF0032;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 3px;
    

}