@font-face {
    font-family: "thunder";
    src: url("./asset/fonts/THUNDER/Fonts/Web-TT/Thunder-BoldLC.woff") format("woff"),
    url("./asset/fonts/THUNDER/Fonts/Web-TT/Thunder-BlackLC.ttf") format("opentype");

    }
  

*{
    margin: 0;
    overflow-x: none;
}
header{
    position: absolute;
    background: #FFAF96;
    height: 618px;
    width: 100%;
    
}

header  ul{
    display: none
}



h1{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    font-family: "thunder";
    font-style: normal;
    font-size: 72px;
    font-weight: 700;
    line-height: 66px;
    color: #AF0032;
    margin-left: 110px;
}

h1 span{
    margin-left: -80px;
}

.bigLove{
color: #FF0000;
}

button{
    background:  #FF0000;
    color: #FFF;
    border-radius: 10px;
    margin-left: 30px;
    width: 160px;
    height: 41px;
    border: none;
    font-size: 14px;
}

header button:hover{
    cursor: pointer;
}


.logo{
    margin: 15px; 
    object-fit: contain;
}

.header--top{
    display: flex;
    width: 100%;
    height: 85px;
    align-items: center;
    justify-content: space-between;
 
    
}

.header--top nav{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    width: 140px;
    margin: 5px;
   
}

nav p{
    font-family: "thunder";
    color: #AF0032;
    font-size: 32px;
    line-height: 28px;
    margin-left: 30px;
    margin-bottom: 20px;
    
}

.header__nav img{
    margin-bottom: 20px;
}

.header__nav img:hover{
    cursor: pointer;
}


.heart {
    background-color: red;
    display: inline-block;
    height: 30px;
    margin: 0 10px 100px;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
  }

.heart:before,
.heart:after {
content: "";
background-color: red;
border-radius: 50%;
height: 30px;
position: absolute;
width: 30px;
}

.heart:before {
top: -15px;
left: 0;
}

.heart:after {
left: 15px;
top: 0;
}

.heartContainer{
    transform: rotate(30deg);
    margin-top: 80px;
}
.pilot{

position: absolute;
height: 270px;
left: 172px;
top: 275px;
transform: rotate(-15.62deg);
}

.stars{
   
}

